#{extends 'main.html' /} #{set title:'Welcome' /} 

 #{include 'nav.html' /}
<center>
<table>
  <tr>
    <td>
      <p>
        <h2 class="title">Welcome to MyRent</h2>
        <h3>Your guide to residential property rents in Ireland</h3>

<table class="ui table segment">
	<tbody>
		<tr>
			<td>The 2004 Residential Tenancies act gives every landlord and
				tenant a <br /> right to a rent review once each year. The Act
				makes it illegal for a <br /> landlord to charge a rent higher than
				the market rent. If there is a dispute<br /> as to the market rent,
				either the landlord or the tenant can take a case to<br /> the
				Private Residential Tenancies Board (the PTRB).<br />
			</td>
		</tr>
		<tr>
			<td>The problem with this system is that until now there has
				been no<br /> objective way of determining the market rent of a
				property. The purpose<br /> of myrent is to gather information on
				rents from landlords and tenants<br /> and allow any registered
				user to generate a report on the state of the<br /> rental market.<br />
			</td>
		</tr>
		<tr>
			<td>We believe that this service will add transparency to the
				residential rental<br /> market in Ireland helping both landlords
				and tenants alike.<br />
			</td>
		</tr>
		<tr>
			<td>The success of the project will depend on the willingness of
				tenants and<br /> landlords to provide information about their
				properties.<br />
			</td>
		</tr>
		<tr>
			<td><a href="/login">Log In</a> or <a href="/account">create
					a new account </a> and input your details on the Input Data<br />
				page. To provide the required information will take just a few
				minutes of<br /> your time.<br /></td>
		</tr>
	</tbody>
</table>
</td>
</tr>
</table>
</center>