#{extends 'main.html' /} #{set title:'Input Data' /} 

 #{include 'nav.html' /}
<center>
<table>
  <tr>
    <td>
      <p>
        <h1 class="title">Welcome to MyRent</h1>
        <h2>Under Construction</h2
</td>
</tr>
</table>
</center>