#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

#{include 'navLogout.html' /}
<center>
	<table>
		<tr>
			<td>
				<p>
				<h2 class="title">Create a free account with MyRent</h2>
				<h3>Register using a valid email address</h3>
				<div class="ui two column middle aligned relaxed grid basic segment">
  <div class="column">
  <section class="ui form segment">
  <form action="/register" method="POST">
<div class="fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="field">
      <label>Telephone</label>
      <input placeholder="Telephone" type="text" name="telePhone">
    </div>
    <div>
    <button class="ui inverted submit button">Submit</button>
    </div>
  </form>
</section>  
</div>
</div>


			</td>
		</tr>
	</table>
</center>